@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
  --background-dark: #000000;
  --primary: #121212;
  --primary-dark: #00000000;
  --accent: #b51dfc;
  --accent-light: #c44dfa;
  --error: #bd1b1b;
  --text-primary: #ffffff;
  --text-primary-dark: #979797;
  --text-primary-darker: #757575;
  --border-primary: #222222;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar-slim::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-slim::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-slim::-webkit-scrollbar-thumb {
    background-color: #88888886;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  .scrollbar-slim::-webkit-scrollbar-button {
    display: none;
  }
}
